---
import LinkInline from "./LinkInline.astro";

interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div
  class="relative mx-12 pb-2 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 border-black before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-6 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-orange-500 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-[#ff6d7f] pt-[0.6rem] mb-2">
        {title}
      </h3>
      <h4 class="font-semibold text-xl text-[#3c4043]">
        {company}
      </h4>
      <time class="p-0 m-0 text-sm text-gray-500">{date}</time>
    </div>
  </div>
  <div
    class="relative flex flex-col gap-2 pb-4 text-[#3c4043] pt-[0.6rem] md:col-span-3"
  >
    {description}
    {
      link && (
        <LinkInline href={link}>
          Learn More{" "}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 icon icon-tabler icon-tabler-chevron-right"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6l6 6l-6 6" />
            </>
          </svg>
        </LinkInline>
      )
    }
  </div>
</div>
