---
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";
const PROJECTS = await getCollection("projects");
---

<h1>Projects</h1>
<h2>What I've build so far</h2>
<div class="flex flex-row flex-wrap m-5 align-center justify-center gap-5">
  {
    PROJECTS.map((project: { slug: any; data: any }) => {
      const { slug, data } = project;
      console.log(slug);
      const { name, img, sm_description } = data;

      return (
        <a href={`/projects/${slug}`}>
          <ProjectCard
            slug={slug}
            name={name}
            img={img}
            sm_description={sm_description}
          />
        </a>
      );
    })
  }
</div>
