---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectHero from "../../components/ProjectHero.astro";
import { render } from "astro:content";
import Expo from "../../icons/Expo.astro";
import TailWind from "../../icons/TailWind.astro";
import SocialPill from "../../icons/SocialPill.astro";
import HTML from "../../icons/HTML.astro";
import CSS from "../../icons/CSS.astro";
import Spotify from "../../icons/Spotify.astro";
import AstroIcon from "../../icons/AstroIcon.astro";
import Cloudinary from "../../icons/Cloudinary.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { data } = project;
const { name, img, alt, technologies } = data;

const { Content } = await render(project);

const TAGS = {
  Expo: {
    name: "Expo",
    icon: Expo,
  },
  Tailwind: {
    name: "TailWind",
    icon: TailWind,
  },
  HTML: {
    name: "HTML",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    icon: CSS,
  },
  Spotify: {
    name: "Spotify API",
    icon: Spotify,
  },
  Astro: {
    name: "Astro",
    icon: AstroIcon,
  },
  Cloudinary: {
    name: "Cloudinary",
    icon: Cloudinary,
  },
};

const tech = Object.values(TAGS);
---

<Layout title=`${name}` description=`${name} Project`>
  <section
    class="flex gap-5 w-full h-full flex-row justify-center flex-wrap mt-14"
  >
    <ProjectHero img={img} alt={alt} />
    <article class="prose prose-md pl-11 pr-11 mt-4">
      <h1>{name}</h1>
      <Content />
      <ul class="list-none flex flex-row gap-3 p-0">
        {
          tech.map((tag) => {
            if (technologies.includes(tag.name)) {
              return (
                <>
                  <SocialPill>
                    <tag.icon class="size-6" />
                    {tag.name}
                  </SocialPill>
                </>
              );
            }
          })
        }
      </ul>
    </article>
  </section>
</Layout>
