---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectHero from "../../components/ProjectHero.astro";
import { render } from "astro:content";
import Expo from "../../icons/Expo.astro";
import TailWind from "../../icons/TailWind.astro";
import SocialPill from "../../icons/SocialPill.astro";
import HTML from "../../icons/HTML.astro";
import CSS from "../../icons/CSS.astro";
import Spotify from "../../icons/Spotify.astro";
import AstroIcon from "../../icons/AstroIcon.astro";
import Cloudinary from "../../icons/Cloudinary.astro";
import SectionContainer from "../../components/SectionContainer.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { data } = project;
const { name, img, alt, technologies } = data;

const { Content } = await render(project);

const TAGS = {
  Expo: {
    name: "Expo",
    icon: Expo,
  },
  Tailwind: {
    name: "TailWind",
    icon: TailWind,
  },
  HTML: {
    name: "HTML",
    icon: HTML,
  },
  CSS: {
    name: "CSS",
    icon: CSS,
  },
  Spotify: {
    name: "Spotify API",
    icon: Spotify,
  },
  Astro: {
    name: "Astro",
    icon: AstroIcon,
  },
  Cloudinary: {
    name: "Cloudinary",
    icon: Cloudinary,
  },
};

const tech = Object.values(TAGS);
---

<Layout title=`${name}` description=`${name} Project`>
  <section class="flex flex-col justify-center items-center">
    <SectionContainer
      id="project-page"
      class="flex gap-5 w-full h-full justify-center flex-col mt-10 md:mt-14 mb-10"
    >
      <h1 class="flex justify-center p-5">{name}</h1>
      <ProjectHero img={img} alt={alt} />
      <article class="prose prose-md px-5 my-4 w-max">
        <Content />
        <ul class="list-none flex flex-row gap-3 p-0">
          {
            tech.map((tag) => {
              if (technologies.includes(tag.name)) {
                return (
                  <>
                    <SocialPill>
                      <tag.icon class="size-6" />
                      {tag.name}
                    </SocialPill>
                  </>
                );
              }
            })
          }
        </ul>
      </article>
    </SectionContainer>
  </section>
</Layout>
